:root {
  --bg: #ffc5c5;
  --calc: #89b9ad;
  --text: #ffebd8;
  --highlight: #c7dca7;
}

* {
  outline: 1px dotted red;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
}
